#root {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Arial", "helvetica", sans-serif;
  width: 100%;
  margin: 0;
}

h1 {
  color: #535353;
  margin: 0;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 10px;
  list-style: none;
  background-color: #bbbbbb;
  border-radius: 5px;
  box-shadow: 2px 4px 2px rgba(0,0,0,0.4);
}

.main-container {
  background-color: #1d1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}